
:root{
    --cor-transparente:transparent;
    --cor-box-shadow: 2px 2px 10px 2px rgb(0, 0, 0, 0.2);

    /* Cores de fundo */
    --cor-background-primeiro: #e6e6e6;
    --cor-background-segundo: #1d1d1d;
    --cor-background-terceiro: #f1f1f1;

    /* Cores Fontes */
    --cor-fonte-primeiro:#fffde6;
    --cor-fonte-segundo:#080808d5;
    --cor-fonte-terceiro:#af8f00;


    /* Cores Modo-Dark e shadow */
    --cor-background-modo-dark: url('/src/img/img-fundo/noite\ estrelada.png');


    /* Cores Hover e Borda */
    --cor-hover-border-primeiro:#ffb223;
    --cor-hover-border-segundo:#fcef3e;

    /* Tipos de fonte */
    --fonte-titulo: "Lugrasimo", cursive;
    --fonte-texto: "Raleway", sans-serif;


    /* Outras cores */
    --cor-vermelho:rgb(173, 0, 0);
    --cor-verde:rgb(5, 158, 0);
}

.dark-mode:root{
       /* Cores de fundo */
       --cor-background-primeiro: #141313;
       --cor-background-segundo:  #ececec;
       --cor-background-terceiro: #1f1d1d;
       /* Cores Fontes */
       --cor-fonte-primeiro:#f5f5f5;
       --cor-fonte-segundo:#fffffff3;
       --cor-fonte-terceiro:#f0ab2c;

       --cor-box-shadow:  2px 2px 10px 2px rgba(0, 0, 0, 0.3);

       /* Cores Modo-Dark e shadow */
       --cor-background-modo-dark: url('/src/img/img-fundo/img-dia-sol.png');

}