.prato__promocao-dia {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3% 4%;
  background-color: var(--cor-background-terceiro);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: var(--cor-box-shadow);
}

.prato {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.prato__titulo {
  text-align: center;
  font-family: var(--fonte-titulo);
  font-size: 32px;
  font-weight: 700;
  color: var(--cor-fonte-segundo);
}

.prato__descricoes__img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.4rem;
}

.prato__descricoes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 60%;
  gap: 1rem;
}

.prato__descricoes-nome {
  font-family: var(--fonte-titulo);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-fonte-segundo);
}

.prato__descricoes_informacoes {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.1rem;
  font-family: var(--fonte-texto);
}

.preco-original {
  color: var(--cor-vermelho);
  text-decoration: line-through;
}

.preco-final {
  color: var(--cor-verde);
  transform: scale(1.6);
  font-weight: 600;
}

.prato__descricoes-final {
  color: var(--cor-fonte-terceiro);
  font-family: var(--fonte-titulo);
  font-weight: 500;
}

.prato__descricoes-btn {
  background-color: var(--cor-verde);
  color: var(--cor-fonte-primeiro);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid var(--cor-verde);
  font-size: 1.1rem;
  font-family: var(--fonte-texto);
  font-weight: 600;
  box-shadow: var(--cor-box-shadow);
  transition-duration: 0.4s;
  text-decoration: none;
}

.prato__descricoes-btn:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

.prato__img {
  max-width: 50%;
}

.prato__img-imagem {
  object-fit: contain;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}

.prato__img-imagem:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 650px) {
  .prato__descricoes__img {
    flex-direction: column-reverse;
    align-items: center;
  }

  .prato__descricoes {
    max-width: 100%;
  }
}
