
.cabecalho {
    height: 100%;
    background-image: url('/src/img/carrossel/fundo-slide.png');
    backdrop-filter: blur(10px); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.5rem;
    box-shadow: 1px 1px 5px black;
    z-index: 1;

}

.cabecalho__logo {
    text-align: start;
}

.cabecalho__logo-img {
    max-width: 70px;
    padding: 0.5rem;
}

.cabecalho__logo-img:hover{
    transform: scale(1.1);
}

.cabecalho__menu {}

.cabecalho__menu__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.cabecalho__menu__lista-link {
    list-style-type: none;
    transition-duration: 0.3s;
    
}

.cabecalho__menu__lista-link-ancora {
    text-decoration: none;
    font-size: 1.0rem;
    color: var(--cor-fonte-primeiro);
    padding: 0.5rem;
    font-family: var(--fonte-titulo);
    font-weight: 400;
  
}

.cabecalho__menu__lista-link-ancora:hover {
    color: var(--cor-hover-border-primeiro);
}

.cabecalho__menu__lista-link:hover {
    transform: scale(1.2);
}


.menu-burguer {
    display: none;
}

.menu-burguer-links {
    display: none;
    position: absolute;
    right: 1rem;
    top: 85px;
    height: 0;
    width: 250px;
    background-color: var(--cor-background-primeiro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.menu-burguer-links li {
    padding: 0.8rem;

}

.abrir-menu-burguer {
    height: 300px;
    
   
  
}

@media screen and (max-width:800px) {

    .menu-burguer {
        display: flex;
        cursor: pointer;
        text-align: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
        color: var(--cor-fonte-primeiro);
       
    }

    .menu-burguer-links {
        display: block;
            
    }


    .cabecalho__menu__lista {
        display: none;
        opacity: 0;
    }

    .cabecalho__menu__lista-link-ancora{
        color: var(--cor-fonte-segundo);
    }

    .cabecalho__menu__lista-link:hover {
        transform: scale(1.1);
    }

}

@media screen and (max-width:600px) {

    .menu-burguer-links {
        left: 1rem;
        width: unset;
        
    }
}